@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Go to content <a href="students">Create/Read/Udate/Delete operations</a>.</p>
    <p>
            Razor Pages can make coding page-focused scenarios easier and more productive than using controllers and views.
            Razor Pages is designed to make common patterns used with web browsers easy to implement when building an app.
    </p>
    
</div>


